*{margin:0;}
.icon-doc{
    margin-left: 20px;
    min-height: 120px;
    border-radius: 10px;
    color: #797982;
}

html, body{
    font-family: "Roboto", "Roboto Bold";
    height: 99%;
    overflow:hidden;
}

.icon-doc .icon{
    width: 50%;
    margin-left: 5%;
    margin-top: 20%;
}
.icon-doc:hover{
    cursor: pointer;
    color: #57575e;;
}

.text-doc{
    text-align: center;
    font-size: 13px;
    width: 100%;
    height: 50px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-weight: bold;
    color:#666;
}

#bt-plus{
    position: fixed;
    bottom: 30px;
    right: 30px;
	
	
}

#bt-plus:hover{
  cursor: pointer;
}

.conteiner-row{
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
}


/*
.bt-menu{
    background-color: #efefef;
    border: #bababa 2px solid;
    font-size: 20px;
    padding-left:20px;
    padding-right:10px;
    padding-top: 3px;
    padding-bottom: 2px;
}*/

.celula-padrao-fichamento {
   border: 1px solid #959595;
   margin-bottom: 2px;

}

.row-fic{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
.col-md-12{
    width: 98%;
}
.col-md-4{
     width: 32.7%;
}

.col-md-1{
    width: 8.2%;
}

.col-md-3 {
   width: 24.5%;
}

.cel-txt{
    padding: 0px !important;
}
.celula-titulo-fichamento {
   text-align: center;
}

.cel-txt{
    padding: 2px;
    border: none;
}

.cel-txt .form-group{
    margin: 0px;
}

textarea {
    resize: none;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: left; /* Firefox 12+ */
    text-align-last: left;
}

textarea:focus{
    border: solid 1 #000 !important;
    overflow: auto !important;
    outline: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.menu{
    background-color: #ffffff;
    width: 270px;
   /* height: 250px; */
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 9999;
    display: none;
    box-shadow: 2px 2px 5px rgba(20,20,20, 0.5);
}
#bt-menu-princ, #bt-menu-princ2{
    margin-left: 0px;
    color: #fff;
    font-size: 25px;
}


#bt-menu-princ2{
  border-bottom: 1px solid #2d2d2d;
  color: #7f7f7f;
  width: 100%;
  display: block;
}

#bt-menu-princ2:hover{
    background-color: #f7f7f7;
    color: #333333;
}

/*botaoes do menu*/
.bt-iten-menu-princ2{
    color: #242424;
    width: 100%;
    display: block;
    cursor: pointer;

}


.conteiner-palavrachave-consulta{
    width: 100%;
    box-shadow: #adadad 1px 1px 1px 1px;

}

.conteiner-palavrachave-consulta .item{
    padding: 2px;
    font-size: 15px;
}
.conteiner-palavrachave-consulta .item:hover{
    background-color: #0096dd;
    color: #fff;
    cursor: pointer;
}


#bt-salvar-notas {
    float:left;
    position: absolute;
    left: 80.5%;
}

#bt-criar-linha{
    float:left;
    position: absolute;
    left: 85.5%;
}

.barra{
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #557dbf;
    border-bottom: 5px solid #4968a0;
    color: #fff !important;

}

.barra .navbar-brand{
    position: absolute;
    left: 5px;
    top: -7px;
}

#conteiner-lista-palavras{
    margin-top: 20px;
    margin-left: 10px;

}

.conteiner-palavra{
    padding: 5px;
    margin-top: 10px;
    color: #fff;
    margin-left: 20px;
    background-color:#557dbf;

}
.conteiner-palavra .bt{
    color: #012a39;
}

.conteiner-palavra .bt:hover{
    color: #fff;
}

.conteiner-palavra:hover{
    background-color: #6291dd;
    cursor: pointer;
}

.titulo-palavra{
    margin-left: 10px;
    margin-right: 20px;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    border: none;
}

.titulo-palavra:focus{
    outline: none;
}

.inp-ativo{
    color: #000;
    background-color: #fff;
}

.qtd-palavra{
    border: solid 1px #4968a0;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    color: #012a39;
}

#titulo-menu{
    padding-left: 20px;
}


.conteiner-dados-nota{
    width: 40%;
    display: table-cell;
    word-wrap: break-word;
    border:  1px #777777 solid;
    border-collapse: collapse;
    padding: 2px;
}

.cabecario-dados-nota{
    background-color: #557dbf;
    color: #fff;
    text-align: center;
    border: none;
}

/*icones dos fichamentos da página inicial*/
.bt-icon-doc{
    width: 170px;
    float: left;
}

.bt-delete-nota{
    display: block;
    background-color: #ff7272;
    text-align: center;
    color:#fff;
    border-radius: 3px;
    height:35px;
    padding-top: 8px;
}

.bt-delete-nota:hover{
    cursor: pointer;
    background-color: #d44645;
    color: #ededed;
}

#conteiner-login{
    margin-left: calc(50% - 150px);
}

#conteiner-login .input-group{
    width: 100%;
    margin-bottom: 5px;
}

#conteiner-login button{
    width: 100%;
}

#logo-birds{
    height: 35px;
    width: 40px;

}

#msg-save{
   font-size: 15px;
   margin-left: 30px;
   color: #243061;
}



.textDisable{
    overflow: hidden;
}

.inp-inativo{
    color: #ababab;
}



.star{
    width: 20px !important;
    position: relative;
    float:left;
    top:10px;
    left: calc(50% - 20px);
}

.noscrolling{
    overflow-y: hidden;
    background-color: #fbfbfb;
}

#show-fic-rec, #show-fic-fav:hover{
    cursor: pointer;
}

#conteiner-fichamento, #conteiner-fichamentos{
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 30px;
    right: 0px;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}


#master-conteiner{
    height: 100%;
    width: 100% !important;
    overflow: hidden;
    position: relative;

}


#titulo-fic-favoritos, #titulo-fic-recentes, #titulo-fic-encontrados{
    margin-left: 20px;
}